{% extends 'signal.html' %}
{% block title %}
    Unit Step Signal Graph
{% endblock %}
{% block manipulator %}
    <div class="accordion p-5" id="manipulatorForms">
          <div class="accordion-item">
            <h2 class="accordion-header" id="shiftHead">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#shiftSignal" aria-expanded="false" aria-controls="shiftSignal">
                Time Shift Unit Step Signal
              </button>
            </h2>
            <div id="shiftSignal" class="accordion-collapse collapse" aria-labelledby="shift" data-bs-parent="#generateForms">
              <div class="accordion-body">
                <form method="post">
                    {% csrf_token %}
                  <input type="hidden" name="action_type" value="TIME_SHIFT" hidden>
                  <div class="card-body">
                      <div class="mb-3">
                        <label for="time_shift" class="form-label">Enter Value to Time Shift By</label>
                        <input type="number" class="form-control" name="shift" id="time_shift" placeholder="1,2,5...">
                      </div>
                      <button type="submit" class="btn btn-success">Time Shift</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        <div class="accordion-item">
            <h2 class="accordion-header" id="revHead">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#revSignal" aria-expanded="false" aria-controls="shiftSignal">
                Time Reversal of Unit Step Signal
              </button>
            </h2>
            <div id="revSignal" class="accordion-collapse collapse" aria-labelledby="reversal" data-bs-parent="#generateForms">
              <div class="accordion-body">
                <form method="post">
                    {% csrf_token %}
                  <input type="hidden" name="action_type" value="TIME_REVERSAL" hidden>
                  <div class="card-body">
                      <button type="submit" class="btn btn-success">Time Reversal</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
    </div>
{% endblock %}